header{
    width: 100%;
    padding: 8px 16px;
    background-image: linear-gradient(to right, #2DA43E, #07623E);
    display: inline-flex;
    justify-content: space-between;

}
header div{
    display: inline-flex;
}
.logo{
    height: 50px;
    padding-left: 2%;
}
nav{
    display: inline-flex;
    margin: auto 0;
}
nav input{
    border: none;
    border-radius: 40px 0 0 40px;
    width: 300px;
    height: 28px;
    padding-left: 8px;
    outline: none;
}
nav img{
    background-color: white;
    border-radius: 0  50%  50% 0;
    height: 28px;
    padding-right: 5px;
}