h2 {
    margin: 5% 0 1rem 0;
    margin-left: 2%;
    }

    /* Container do carrossel */
.cards {
    display: grid;
    row-gap: 3rem;
    column-gap: 2rem;
    margin: 0 2rem;

}
.card{
    width: 258px;
    padding: 1rem;
}
.card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}